body {
  margin: 0;
  background-image: url("./food.png");
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
